@model AppointmentSchedulerUILibrary.AppointmentDTOs.GetAppointmentDTO
@using System.Collections
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Appointments</h2>
@functions {

}

<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="datetime">Day:</label>
                <input name="datetime" type="date" 
                min="@DateTime.Now.Date.ToString("yyyy-MM-dd")"
                max="@DateTime.Now.Date.AddYears(1).ToString("yyyy-MM-dd")">         
            </div>
            <div class="form-group">
                <label for="datetime">Available time slots:</label>
                <select name="time-slot" id="time-slot">
                    @{
                        ArrayList timeSlots = new ArrayList();
                        timeSlots.Add("11:30");
                        timeSlots.Add("12:00");
                        timeSlots.Add("12:30");
                        foreach (string timeSlot in timeSlots)
                        {
                            <option value="timeSlot">@timeSlot</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="employees">Employee:</label>
                <select name="employees" id="employees">
                    @{
                        ArrayList employeeList = new ArrayList();
                        employeeList.Add("Gregor");
                        employeeList.Add("Anton");
                        employeeList.Add("Norbert");
                        foreach (string employee in employeeList)
                        {
                            <option value="employee">@employee</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="job-types">Job type:</label>
                <select name="job-types" id="job-types">
                    @{
                        ArrayList jobTypes = new ArrayList();
                        jobTypes.Add("Massage");
                        jobTypes.Add("Head massage");
                        foreach (string jobType in jobTypes)
                        {
                            <option value="jobType">@jobType</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="details">Message</label>
                <textarea></textarea>
            </div>
            <input type="submit" value="Book appointment" class="btn btn-primary">
        </form>
        </>
    </div>
</div>