@model IEnumerable<AppointmentSchedulerUILibrary.SignupCredential>

@{
    ViewData["Title"] = "List of users";
}

<h1>List of users</h1>

<p>
    <a asp-action="RegisterEmployee">Create employee account</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { email = item.Email }) |
                @Html.ActionLink("Details", "Details", new { email = item.Email }) |
                @Html.ActionLink("Delete", "DeleteByEmail", new { email = item.Email })
            </td>
        </tr>
}
    </tbody>
</table>
